<style>

.button{
    margin:20px;
    padding: 10px;

}

</style>


<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>
<h4>All existing users: </h4>
<% @users.each do |u| %>
    Email: <%=u.email%> <form action = "/users/<%=u.id%>/delete" method="get" style="display: inline;"> <input type="submit" value="Delete"/> </form>
    <br>
<% end %>