.del-button{
    cursor: pointer;
    padding: 10px;
    height: 10%;
    color: #fafafa;
    background-color: rgb(190, 93, 93);

} 

.thumbnail{
    width: 150px;
    overflow: hidden;
    float: left;
}

.container > *{
    display: inline-block;
}

.videos_style {
    background-color: #fafafa;
    margin-left: 10px;
    margin-bottom: 20px;
    
    width: 35%;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.02);
    align-items: center;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.comment_box {
    width: 50%;
    color: rgb(38, 50, 56);
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
    margin-left: 4px;
    margin-bottom: 2px;
    font-family: "Ubuntu", sans-serif;
}

.header-user-video{
    height: 100%;
    width: 100%;
    margin: 0;   
    padding: 5px;
    border: 0px solid #000;
    border-bottom: 1px solid rgba(117, 117, 117, 0.12);
    box-sizing: border-box;
    display: block;
  
}

.h2-uname{
    font-family: "Ubuntu", sans-serif;
}

.enter-comment {
    width: 35%;
    height: 35%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px ;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 4px;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}
.comment-send-button{
    cursor: pointer;
    width: 100px;
    height: 10%;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: linear-gradient(to right, rgb(109, 122, 194), rgb(109, 194, 194));
    padding: 10px ;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 4px;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

h2 a, p a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: rgb(53, 53, 53);
    text-decoration: none;
  }